In [6]:
import pandas as pd
from orm import cnx

In [7]:

dt = pd.DataFrame([{"nome":"Felipe", "idade":24},
{"nome":"Rafaela", "idade":17},
{"nome":"Carmeluce", "idade":58}])

In [8]:
dt

        nome  idade
0     Felipe     24
1    Rafaela     17
2  Carmeluce     58

In [11]:
dt.to_sql("teste", cnx, if_exists="replace")

3