In [109]:
from mongo import getCars
from time import ctime, sleep
import pandas as pd
from orm import cnx

# dataset.to_csv("output/dataset.csv", index=False)
# dataset.to_sql("cars", cnx, if_exists="replace")

In [110]:
dataset = pd.read_sql('SELECT * FROM cars', cnx)
dataset.shape

(122259, 28)

In [111]:
dataset.head(1)

,title,price,Modelo,Marca,Tipo de veículo,Ano,Quilometragem,Potência do motor,Combustível,Kit GNV,...,Direção hidráulica,Som,Air bag,Alarme,Sensor de ré,Câmera de ré,Blindado,uf,processed,data
0,Honda civic flex,31000.0,CIVIC SEDAN LXS 1,HONDA,Sedã,2010,141934,1.8,Flex,Sim,...,0,1,1,0,1,0,0,BR-RJ,True,2010-01-01

In [112]:
dataset.query("Quilometragem < 300000", inplace=True)

In [113]:
dataset.to_csv("output/dataset.csv", index=False)

512

In [ ]:
dataset.to_sql("cars", cnx, if_exists="replace", index=False)